<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand font-weight-bold" href="/">{{firstNameDisplay}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/recipes/create">Create</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/accounts/logout" method="GET">
            <button class="btn btn-danger my-2 my-sm-0" type="submit">Logout</button>
        </form>
    </div>
</nav>
{{!-- recipe recap --}}
<div class="alert alert-warning text-center" role="alert">
    <b>Recipe Recaps:</b> You currently have {{recipeCounter}} recipes
</div>

{{#if error}}
<div class="alert alert-danger text-center" role="alert">
    {{error}}
</div>
{{/if}}
{{#if success}}
<div class="alert alert-success text-center" role="alert">
    {{success}}
</div>
{{/if}}
{{!-- list each recipe --}}
{{#each recipeList}}
<div class="container pt-3">
    <div class="card">
        <h5 class="card-header">{{this.recipeName}} (recipe id: {{this._id}})</h5>
        <div class="card-body">
            <h6 class="card-title">{{this.createdAt}}</h6>
            {{#each ingredientsList}}
            <p class="card-text">Ingredient Name: {{this.ingredientName}} ({{this._id}}) - Ingredient
                Quantity: {{this.ingredientQuantity}}</p>
            {{/each}}
            {{#if recipeNote}}
            <p class="card-text"><b>Recipe Note: </b>{{this.recipeNote}}</p>
            {{/if}}
            {{!-- Lorem ipsum dolor --}}
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a href="/recipes/edit/{{this._id}}" class="btn btn-success">Edit</a>
            <a href="#" class="btn btn-danger" onclick="confirmDelete(this)" id="{{this._id}}">Delete</a>
        </div>
    </div>
</div>
{{/each}}

<footer class="container-fluid text-center bg-primary">
    <a href="#" class="badge badge-dark">Back to Top</a>
</footer>

<script>
    function confirmDelete(button) {
        const isConfirmed = window.confirm(`Are you sure you want to delete this card?`);
        if (isConfirmed) {
            deleteCard(button.id);
        } else {
            console.log("Delete operation canceled.");
        }
    }
    function deleteCard(recipeid) {
        fetch(`http://localhost:3030/recipes/delete/${recipeid}`, {
            method: "GET",
            headers: { "Content-Type": "application/json", }
        })
            .then(result => result.text())
            .then(data => {
                location.reload()
                console.log("Server responses with success.")
            })
            .catch(error => {
                console.log("Error: ", error)
            })
        console.log("Card deleted successfully.");
    }
</script>